/*
Theme Name: Twenty Fourteen-Child
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team, Megan Kudzia
Template: twentyfourteen
Description: Responsive website theme for Albion College library, using Albion College web fonts, colors, design scheme. 
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('parent-style.css'); /* importing my previous work on this theme */

@font-face {
  font-family: "BureauGrotesque ThreeSeven";
  src: url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1");
  src:  url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/1/a9dbf83e-dbd3-4af7-a477-d7bb61217584") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/3/47db61be-d2bf-44a3-8685-faa6ffeb0d5c") format("woff");
  font-style: normal;
  font-weight: normal;
} 

/* @import url('../twentyfourteen/style.css'); importing parent theme */
/* @import url('flex.less'); */

/*  Mixins from the Albion College style sheet */

@gold: #d69d00;
@purple: #592041;
@menu-purple: #371324;
@white: #ffffff;
@sky-blue: #6dc6e7;
@grey: #d7d2cb;
@yellow: #ffbb00;
@dark-grey: #685c53;

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.link-arrow:after {
  content: ' \00BB';
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
#mailto-window {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.gold {
  color: @gold;
}
.purple {
  color: @purple;
}
.menu-purple {
  color: @menu-purple;
}
.white {
  color: @white;
}
.sky-blue {
  color: @sky-blue;
}
.grey {
  color: @grey;
}
.yellow {
  color: @yellow;
}
.gold-bg {
  background: @gold;
}
.purple-bg {
  background: @purple;
}
.white-bg {
  background: @white;
}
.sky-blue-bg {
  background: @sky-blue;
}
.grey-bg {
  background: #f3f3f3;
}
.yellow-bg {
  background: #ffbb00;
}
.georgia {
  font-family: Georgia, Times, serif;
}
.impact {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.arial {

  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}


/* Basic Styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
   color: @dark-grey;
}

button,
input,
select,
textarea {
   color: @menu-purple;
   .arial();
}

body {
  background: @white;
  color: @dark-grey;
  .arial();
  &:after {
    content: ''; 
    background-image: url(//pls.webtype.com/v.gif?ct=41037,41037,41037&r=6721&p=5828&h=9%2bzmK4yl4McbLLpF9BRatw%3d%3d);
  }
}
p {
  margin: 0 0 15px;
  line-height: 131%;
}
a {
  color: @purple;
  cursor: pointer;
  &:active, &:hover {
    color: @purple;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  .georgia();
  margin: 0 0 18px;
  line-height: inherit;
  color: @purple;
  clear: both;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 36px;
}
h1.posttitle,
.h1.posttitle {
  color: @gold;
  .impact();
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
}
h1.entry-title, 
.h1.entry-title {
  color: @gold;
  .impact();
  a {
    color: @gold;
    .impact();
    background: @white;
  }
}
h2,
.h2 {
  .impact();
  font-weight: normal;
  font-size: 28px;
  color: @gold;
}
h3,
.h3 {
  font-weight: bold;
  font-size: 20px;
}
h4,
.h4 {
  font-weight: normal;
  font-size: 18px;
}
h5,
.h5 {
  font-weight: bold;
  font-size: 16px;
}
h6,
.h6 {
  font-weight: bold;
  font-size: 14px;
}

.hide-text {
   outline: none;
   font: 0/0 a;
   color: transparent;
   text-shadow: none;
   background-color: transparent;
   border: 0;
   margin: 0;
}
/* End of Albion College mixins */

&::selection {
  background: @white;
  color: @dark-grey;
  text-shadow: none;
}

&:-moz-selection {
  background: @white;
  color: @dark-grey;
  text-shadow: none;
}

body {
  .site {
    max-width: none;
    &:before {
      display: none;
    }
  }
  .site-header {
    max-width: none;
  }
  .entry-title {
    #post-88 {
      header.entry-header {
        display: none;
      } 
    } 
  }
  .promozones {
    clear: both;
    ul.jphoto-img {
      list-style: none;
    }
    ul.jphoto-img li {
      margin: 10px;
      float: left;
      span {
        position: relative;
        display: table-cell;
        height: 108px;
        width: 220px;
        vertical-align: middle;
        text-align: center;
        a {
          text-decoration: none;
          font-size: 27px;
        }
      }
    }
  }
  a.link-arrow {
    .impact();
    color: @white;
    &:hover {
      text-decoration: underline;
    }
  }
  // h2 {
  //   color: @gold;
  //   .impact();
  //   font-size: 24px;
  //   line-height: 1;
  //   text-transform: uppercase;
  // }
  // h3 {
  //   color: @gold;
  //   .impact();
  //   font-size: 24px;
  //   line-height: 1;
  //   text-transform: uppercase;
  // }
  button, button:hover, button:focus,
  .button, .button:hover, .button:focus, 
      input[type="button"],
      input[type="reset"],
      input[type="submit"],
      input[type="button"]:hover, input[type="button"]:focus,
      input[type="reset"]:hover, input[type="reset"]:focus,
      input[type="submit"]:hover, input[type="submit"]:focus {
        background-color: @gold;
        color: @white;
      }
  // div.entry-content {
    
  // } 
  .menu-toggle {
    background-color: @gold;
    margin-top: 48px;
    &:before {
      color: @menu-purple;
    }
  }
  .search-toggle {
    margin: 48px 40px 0 0;
  }
  .search-toggle,
  .search-toggle:hover,
  .search-toggle.active {
    background-color: @menu-purple;
    &:before {
     color: #fff;
     font-size: 20px;
     margin-top: 14px;
    }
  }
  .search-box.search-field {
    placeholder: "Search the library site..."
  }
  #main {
    padding: 0 10px;
    #main-content {
      #primary {
        padding-top: 15px;
        .site-content {
          margin-left: 20%;
          @media screen and (min-width: 673px) and (max-width: 1009px)
          {
            margin-right: 0px;
          }
          @media screen and (max-width: 1009px) {
            margin-left: 0px;
          }
          article {
            @media screen and (max-width: 1009px) {
            margin: 0px;
            max-width: 2/3*100%;
            }

          }
        }
      }
    }
  #primary.content-area {
    // padding-top: 20px; 
    margin: 0px;
    .content-sidebar {
      .content-sidebar.widget-area {
        aside {
          margin-top: 15px;
          h1.widget-title {
            margin: 0px;
          }
          .widget {
            margin-bottom: 0px;
          }
          .widget h3 {
            margin-top: 0px;
          }
        }
      }
    }
  }
    .entry-content {
      margin: 0px;
      max-width: none;
      #summonsearch {
        display: block;
        width: 100%;
        height: 35px; 
        padding-left: 30px;
        padding-top: 10px;
        clear: both;
        img.leftAlign {
          @media screen and (max-width: 1009px) {
            display:none;
          }
            width: 35%;
            min-width: 215px; 
            float: left;
        }
        form.summon-search-widget {
          height: 40px;
          padding-bottom: 0;
          width: 50%;
          float: left;
          @media screen and (max-width: 1009px) {
            float: none;
            width: 100%;
          }
          .summon-search-box input {
            float: left;
            display: inline-block;
            // padding-left: 0;
            // margin-left: 10px;
            .summon-search-submit.button-website {
              // padding: 10px 25px;
            }
          }
        }
      }
      #basictable {
        width: 90%;
        background-color: @white;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        tr {
          thead {
            background-color: @menu-purple;
            color: @white;
          }
          th {
            background-color: @purple;
            color: @gold;
            h2 {
              align: center;
              vertical-align: middle;
            }
            h3 {
              .impact();
              color: @gold;
            }
          }
          .even {
          background-color: @grey;
          }
        }
      }  
    }
  }
  header.site-header {
    background-color: @purple;
    border-bottom: 5px solid @gold;
    .header-main {
      min-height: 48px;
      height: 96px;
      padding: 0 10px; 
      }
    .entry-content,
    .site-content.entry-summary,
    .site-content.entry-meta,
    .page-content {
      // margin: 0 auto;
      // max-width: 575px; 
    }
    .entry-header {
      margin-right: 0px;
      @media screen and (min-width: 1218px) {
        padding-left: 5px;
      }
    }
  }
  #secondary { 
    border-top: 1px solid @dark-grey;
    border-bottom: 1px solid @dark-grey;
    position: relative;
    z-index: 2;
    background-color: @white;
    padding: 15px 0px 0px 0px;
    @media screen and (min-width: 673px) {
      padding: 0px;
    }
    // @media screen and (min-width: 1080px) {
    //   width: 162px;
    // }
    @media screen and (min-width: 1008px) {
      background-color: @white;
      color: @purple;
      border: 0;
    /*  margin-left: 10px; */
      clear: none;
      float: left;
      margin: 0 0 0 -100%;
      min-height: 100%;
      width: 20%;
    }
    .secondary-navigation {
      // margin: 48px 0 0 0;
      // padding: 0 0 48px 0;
      width: 100%;
      margin: 0;
      @media screen and (max-width: 1009px) {
        margin: 48px 0 48px 0;
      }
      ul.menu {
        li { 
          a {
            color: @purple;
            padding: 9px 0;
            text-transform: capitalize;
            font-size: 123.1%;
            font-weight: bold;
            color: @purple;
            &:hover, &:active, &:focus {
              color: @gold;
            }
            @media screen and (min-width: 1080px) {
              &:hover>ul, &:focus>ul {
                left: 100%;
                position: absolute;
              }
            }
            &:after {
              right: 0px;
              margin-left: 5px;
            }
            @media screen and (min-width: 1008px) {
              color: @purple;
            }
          }
        }
      }
    } 
  }
      h1.site-title {
      }
      .site-title {
        clip: initial;
        a {
          background: url('sprites.png') no-repeat 0 -27px;
          height: 87px;
          width: 260px;
          display: block;
          float: left;
          .hide-text();
        }
      }
      // .menu-toggle {
        
      // }
      // .search-toggle {
      //    margin-top: 48px;
      // }

      .search-box {
        background-color: @menu-purple;
      }
    .site-navigation {
      .current_page_item a {
        font-weight: normal;
      }
      .secondary-navigation {
        ul#menu-principal-navigation {
          margin: 0 0 0 35px;
        } 
      } 
      .current_page_item >a, 
      .current_page_ancestor >a, 
      .current-menu-item >a, 
      .current-menu-ancestor >a {
        color: @gold;
      }
      ul {
        ul {
          padding-left: 20px;
          margin-left: 0px;
        }
      }
    }
    .primary-navigation {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 18px;
      padding-top: 48px;
      li {
        background-color: @menu-purple;
      }
      a {
        color: @gold;
        .impact();
        &:hover {
          color: @gold;
          background-color: @white;
          font-weight: normal;
        }
      }
    }
  .vannimages {
   clear:both;
  }
  // #filmtable {
  //    background-color: #FFFFFF;
  //    /* cellspacing="10";
  //    cellpadding="10"; */
  // }
  // #filmtable tr {
  //    text-align: center;
  //    vertical-align: middle;
  // }
  // #filmtable tr.even{
  //    background-color: #D5D2CA;
  // }
  // #filmtable th {
  //    vertical-align: middle;
  //    text-align: center;
  //    background-color: #4F324C;
  //    color: #FFFFFF;
  // }
  .stafflist ul {
     list-style: none;
  }
  
}



// /*  div.featured-images {
//     .jphoto-img-desc h3 a.link-arrow {
//       color: @white;
//       .impact();
//       text-decoration: underline;
//     }
//   }*/
// }

// @media screen and (min-width: 783px) {
//   body {

//     }
//   }



