/*
Theme Name: Twenty Fourteen-Child
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team, Megan Kudzia
Template: twentyfourteen
Description: Responsive website theme for Albion College library, using Albion College web fonts, colors, design scheme. 
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('parent-style.css');
/* importing my previous work on this theme */

@font-face {
  font-family: "BureauGrotesque ThreeSeven";
  src: url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1");
  src: url("//cloud.webtype.com/webtype/ff/2/ad8d4e78-5ef8-4731-9cbe-a0750fa940c1#iefix") format("embedded-opentype"), url("//cloud.webtype.com/webtype/ff/1/a9dbf83e-dbd3-4af7-a477-d7bb61217584") format("truetype"), url("//cloud.webtype.com/webtype/ff/3/47db61be-d2bf-44a3-8685-faa6ffeb0d5c") format("woff");
  font-style: normal;
  font-weight: normal;
}
/* @import url('../twentyfourteen/style.css'); importing parent theme */
/* @import url('flex.less'); */
/*  Mixins from the Albion College style sheet */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.link-arrow:after {
  content: ' \00BB';
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
#mailto-window {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.gold {
  color: #d69d00;
}
.purple {
  color: #592041;
}
.menu-purple {
  color: #371324;
}
.white {
  color: white;
}
.sky-blue {
  color: #6dc6e7;
}
.grey {
  color: #d7d2cb;
}
.yellow {
  color: #ffbb00;
}
.gold-bg {
  background: #d69d00;
}
.purple-bg {
  background: #592041;
}
.white-bg {
  background: white;
}
.sky-blue-bg {
  background: #6dc6e7;
}
.grey-bg {
  background: #f3f3f3;
}
.yellow-bg {
  background: #ffbb00;
}
.georgia {
  font-family: Georgia, Times, serif;
}
.impact {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.arial {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
.fs10 {
  font-size: 77%;
}
.fs11 {
  font-size: 85%;
}
.fs12 {
  font-size: 93%;
}
.fs14 {
  font-size: 108%;
}
.fs15 {
  font-size: 116%;
}
.fs16 {
  font-size: 123.1%;
}
.fs17 {
  font-size: 131%;
}
.fs18 {
  font-size: 138.5%;
}
.fs19 {
  font-size: 146.5%;
}
.fs20 {
  font-size: 153.9%;
}
.fs21 {
  font-size: 161.6%;
}
.fs22 {
  font-size: 167%;
}
.fs23 {
  font-size: 174%;
}
.fs24 {
  font-size: 182%;
}
.fs25 {
  font-size: 189%;
}
.fs26 {
  font-size: 197%;
}
/* Basic Styles */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  color: #685c53;
}
button,
input,
select,
textarea {
  color: #371324;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
body {
  background: white;
  color: #685c53;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
}
body:after {
  content: '';
  background-image: url(//pls.webtype.com/v.gif?ct=41037,41037,41037&r=6721&p=5828&h=9%2bzmK4yl4McbLLpF9BRatw%3d%3d);
}
p {
  margin: 0 0 15px;
  line-height: 131%;
}
a {
  color: #592041;
  cursor: pointer;
}
a:active,
a:hover {
  color: #592041;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Georgia, Times, serif;
  margin: 0 0 18px;
  line-height: inherit;
  color: #592041;
  clear: both;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 36px;
}
h1.posttitle,
.h1.posttitle {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
}
h1.entry-title,
.h1.entry-title {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h1.entry-title a,
.h1.entry-title a {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: white;
}
h2,
.h2 {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 28px;
  color: #d69d00;
}
h3,
.h3 {
  font-weight: bold;
  font-size: 20px;
}
h4,
.h4 {
  font-weight: normal;
  font-size: 18px;
}
h5,
.h5 {
  font-weight: bold;
  font-size: 16px;
}
h6,
.h6 {
  font-weight: bold;
  font-size: 14px;
}
.hide-text {
  outline: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}
/* End of Albion College mixins */

::selection {
  background: white;
  color: #685c53;
  text-shadow: none;
}
:-moz-selection {
  background: white;
  color: #685c53;
  text-shadow: none;
}
body .site {
  max-width: none;
}
body .site:before {
  display: none;
}
body .site-header {
  max-width: none;
}
body .entry-title #post-88 header.entry-header {
  display: none;
}
body .promozones {
  clear: both;
}
body .promozones ul.jphoto-img {
  list-style: none;
}
body .promozones ul.jphoto-img li {
  margin: 10px;
  float: left;
}
body .promozones ul.jphoto-img li span {
  position: relative;
  display: table-cell;
  height: 108px;
  width: 220px;
  vertical-align: middle;
  text-align: center;
}
body .promozones ul.jphoto-img li span a {
  text-decoration: none;
  font-size: 27px;
}
body a.link-arrow {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
}
body a.link-arrow:hover {
  text-decoration: underline;
}
body button,
body button:hover,
body button:focus,
body .button,
body .button:hover,
body .button:focus,
body input[type="button"],
body input[type="reset"],
body input[type="submit"],
body input[type="button"]:hover,
body input[type="button"]:focus,
body input[type="reset"]:hover,
body input[type="reset"]:focus,
body input[type="submit"]:hover,
body input[type="submit"]:focus {
  background-color: #d69d00;
  color: white;
}
body .menu-toggle {
  background-color: #d69d00;
  margin-top: 48px;
}
body .menu-toggle:before {
  color: #371324;
}
body .search-toggle {
  margin: 48px 40px 0 0;
}
body .search-toggle,
body .search-toggle:hover,
body .search-toggle.active {
  background-color: #371324;
}
body .search-toggle:before,
body .search-toggle:hover:before,
body .search-toggle.active:before {
  color: white;
  font-size: 20px;
  margin-top: 14px;
}
body .search-box.search-field {
  placeholder: "Search the library site...";
}
body #main {
  padding: 0 10px;
}
body #main #main-content #primary {
  padding-top: 15px;
}
body #main #main-content #primary .site-content {
  margin-left: 20%;
}
@media screen and (min-width: 673px) and (max-width: 1009px) {
  body #main #main-content #primary .site-content {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1009px) {
  body #main #main-content #primary .site-content {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1009px) {
  body #main #main-content #primary .site-content article {
    margin: 0px;
    max-width: 66.666666667%;
  }
}
body #main #primary.content-area {
  margin: 0px;
}
body #main #primary.content-area .content-sidebar .content-sidebar.widget-area aside {
  margin-top: 15px;
}
body #main #primary.content-area .content-sidebar .content-sidebar.widget-area aside h1.widget-title {
  margin: 0px;
}
body #main #primary.content-area .content-sidebar .content-sidebar.widget-area aside .widget {
  margin-bottom: 0px;
}
body #main #primary.content-area .content-sidebar .content-sidebar.widget-area aside .widget h3 {
  margin-top: 0px;
}
body #main .entry-content {
  margin: 0px;
  max-width: none;
}
body #main .entry-content #summonsearch {
  display: block;
  width: 100%;
  height: 35px;
  padding-left: 30px;
  padding-top: 10px;
  clear: both;
}
body #main .entry-content #summonsearch img.leftAlign {
  width: 35%;
  min-width: 215px;
  float: left;
}
@media screen and (max-width: 1009px) {
  body #main .entry-content #summonsearch img.leftAlign {
    display: none;
  }
}
body #main .entry-content #summonsearch form.summon-search-widget {
  height: 40px;
  padding-bottom: 0;
  width: 50%;
  float: left;
}
@media screen and (max-width: 1009px) {
  body #main .entry-content #summonsearch form.summon-search-widget {
    float: none;
    width: 100%;
  }
}
body #main .entry-content #summonsearch form.summon-search-widget .summon-search-box input {
  float: left;
  display: inline-block;
}
body #main .entry-content #basictable {
  width: 90%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
body #main .entry-content #basictable tr thead {
  background-color: #371324;
  color: white;
}
body #main .entry-content #basictable tr th {
  background-color: #592041;
  color: #d69d00;
}
body #main .entry-content #basictable tr th h2 {
  align: center;
  vertical-align: middle;
}
body #main .entry-content #basictable tr th h3 {
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #d69d00;
}
body #main .entry-content #basictable tr .even {
  background-color: #d7d2cb;
}
body header.site-header {
  background-color: #592041;
  border-bottom: 5px solid #d69d00;
}
body header.site-header .header-main {
  min-height: 48px;
  height: 96px;
  padding: 0 10px;
}
body header.site-header .entry-header {
  margin-right: 0px;
}
@media screen and (min-width: 1218px) {
  body header.site-header .entry-header {
    padding-left: 5px;
  }
}
body #secondary {
  border-top: 1px solid #685c53;
  border-bottom: 1px solid #685c53;
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 15px 0px 0px 0px;
}
@media screen and (min-width: 673px) {
  body #secondary {
    padding: 0px;
  }
}
@media screen and (min-width: 1008px) {
  body #secondary {
    background-color: white;
    color: #592041;
    border: 0;
    /*  margin-left: 10px; */
    clear: none;
    float: left;
    margin: 0 0 0 -100%;
    min-height: 100%;
    width: 20%;
  }
}
body #secondary .secondary-navigation {
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 1009px) {
  body #secondary .secondary-navigation {
    margin: 48px 0 48px 0;
  }
}
body #secondary .secondary-navigation ul.menu li a {
  color: #592041;
  padding: 9px 0;
  text-transform: capitalize;
  font-size: 123.1%;
  font-weight: bold;
}
body #secondary .secondary-navigation ul.menu li a:hover,
body #secondary .secondary-navigation ul.menu li a:active,
body #secondary .secondary-navigation ul.menu li a:focus {
  color: #d69d00;
}
@media screen and (min-width: 1080px) {
  body #secondary .secondary-navigation ul.menu li a:hover > ul,
  body #secondary .secondary-navigation ul.menu li a:focus > ul {
    left: 100%;
    position: absolute;
  }
}
body #secondary .secondary-navigation ul.menu li a:after {
  right: 0px;
  margin-left: 5px;
}
@media screen and (min-width: 1008px) {
  body #secondary .secondary-navigation ul.menu li a {
    color: #592041;
  }
}
body .site-title {
  clip: initial;
}
body .site-title a {
  background: url('sprites.png') no-repeat 0 -27px;
  height: 87px;
  width: 260px;
  display: block;
  float: left;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
}
body .search-box {
  background-color: #371324;
}
body .site-navigation .current_page_item a {
  font-weight: normal;
}
body .site-navigation .secondary-navigation ul#menu-principal-navigation {
  margin: 0 0 0 35px;
}
body .site-navigation .current_page_item > a,
body .site-navigation .current_page_ancestor > a,
body .site-navigation .current-menu-item > a,
body .site-navigation .current-menu-ancestor > a {
  color: #d69d00;
}
body .site-navigation ul ul {
  padding-left: 20px;
  margin-left: 0px;
}
body .primary-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 48px;
}
body .primary-navigation li {
  background-color: #371324;
}
body .primary-navigation a {
  color: #d69d00;
  font-family: 'BureauGrotesque ThreeSeven', Impact, 'Helvetica Neue Bold', Arial Bold, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
body .primary-navigation a:hover {
  color: #d69d00;
  background-color: white;
  font-weight: normal;
}
body .vannimages {
  clear: both;
}
body .stafflist ul {
  list-style: none;
}
